*{
	margin:0;
	padding:0;
}
html{
	background:url(../img/bgr.png) no-repeat;
}
body{
	font-family:Arial, sans-serif;
	font-size:12px;
	line-height:1.3;
}
.clear{
	clear:both;
	height:0;
	overflow:hidden;
}
.hide{ display:none !important; }
input, select, textarea{
	font-family:inherit;
	font-size:inherit;
}
.submit{ cursor:pointer; }
fieldset{ border:none; }
label{ cursor:pointer; }
a:hover{
	cursor:pointer;
	text-decoration:none;
}
a{ color:inherit; }
a img{ border:none; }
.nom{ margin:0 !important; }
a.rev{ text-decoration:none; }
a.rev:hover{ text-decoration:underline; }
.ld{ float:left; }
.rd{ float:right; }
.first{ margin-top:0 !important; }
.last{ margin-bottom:0 !important; }
.ca{ text-align:center; }
.ra{ text-align:right; }
.la{ text-align:left; }
.inh{ color:inherit !important; }
.upper{ text-transform:uppercase; }
.vam{ vertical-align:middle; }
.nowrap{ white-space:nowrap; }
.in{
	width:960px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
}
.clearfix:before,.clearfix:after{
content:"";
display:table;
}
.clearfix:after{
clear:both;
}
.border_fort{
behavior: url(PIE.htc);
}
.margin_r{
margin-right:0px!important;
}





.all_rewr li{
list-style:none;
}
.all_rewr{
display:block;
width:708px;
min-width:708px;
/*margin:0px auto;*/
}
.for_title_img_rewr{
/*text-align:center;*/
   position: relative;
}

.for_title_img_rewr img { width: 708px; }

.menu_rewr{
display:block;
height:49px;
line-height:49px;
background:#636b70;
/*margin-top:-3px;*/
padding-left:30px;
}

.menu_rewr li{
float:left;
text-align:center;
margin-right:35px;
position:relative;
height: 49px;
}

.menu_rewr li:last-child{
   margin: 0;
}

li.active_menu_rewr{
   background:#007073;
}

.menu_rewr a:hover .abs_scos{
display:block;
}
.abs_scos{
background:url(../img/left_ccc.png) no-repeat;
display:block;
width:29px;
height:49px;
left:-28px;
position:absolute;
display:none;
}
.menu_rewr a:hover .abs_scos_r{
display:block;
}
.abs_scos_r{
background:url(../img/abs_scos_r.png) no-repeat;
display:block;
width:29px;
height:49px;
right:-28px;
position:absolute;
top:0px;
display:none;
}
.menu_rewr a{
color:#fff;
font-size:15px;
font-family: 'robotobold_condensed';
text-transform:uppercase;
text-decoration:none;
line-height:49px;
display:block;
position:relative;
}

span.middle {
  line-height: 15px;
  vertical-align: middle;
  display: table-cell;
  height: 45px;
}

.submenu span.middle {
   height: 41px;
}

.active_menu_rewr a .abs_scos_r{
display:block;
}
.active_menu_rewr a .abs_scos{
display:block;
}
.active_menu_rewr a{
background:#007073;
}
.menu_rewr a:hover{
background:#007073;
}
.follow_rework{
display:block;
width:100%;
padding-top:15px;
}
.follow_rework h1{
font-family: 'Roboto Condensed', sans-serif;
color:#000000;
font-size:24px;
text-align:center!important;
text-transform:uppercase;
margin-bottom:20px;
margin-top:20px;
}
.grey_step_rework{
background:#d4d6d7;
padding:20px 36px;
color:#444444;
font-size:16px;
font-family: 'Roboto Condensed', sans-serif;
margin-bottom:26px;
}
.light_pdf_rework li{
float:left;
padding-right:50px;


padding-bottom:10px;

width: 50%;
box-sizing: border-box;
}

.light_pdf_rework.per33 li{
   width: 33%;
}

.light_pdf_rework a{
color:#0d0000;
font-size:14px;
background:url(../img/pdf_rew.png) no-repeat;
padding-left:30px;
padding-top:3px;
min-height: 30px;
float: left;
text-transform:uppercase;
font-family: 'Roboto Condensed' !important;
}
.light_pdf_rework{
padding-left:32px;
margin-bottom:15px;
}

.title_line_rework{
text-align:center;
color:#000000;
font-size:24px;
border-top:3px solid #818181;
border-bottom:3px solid #818181;
padding:15px 0px;
margin-bottom:30px;
font-family: 'Roboto Condensed', sans-serif;
text-transform:uppercase;
line-height:1.1;
}


.green_block_rework{
padding-left:30px;
margin-bottom:20px;
}
.img_gbr_rew{
display:block;
margin-right:20px;
}
.text_gbr_rew{
width:80%;
}
.text_gbr_rew p{
color:#007073;
font-size:18px;
font-family: 'robotobold_condensed';
text-transform:uppercase;
line-height:1.0;
margin-bottom:5px;
}
.text_gbr_rew span{
color:#000000;
font-size:16px;
font-family: 'Roboto Condensed', sans-serif;
}
.cont_width_rew{
display:block;
width:45%;
}
.cont_width_rew .img_gbr_rew{
width:30%;
}
.cont_width_rew .text_gbr_rew{
width:60%;
}



.form_type{
display:block;
width:580px;
margin:0px auto;
border:1px solid #c5c5c5;
-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
padding:20px 60px;
margin-bottom:30px;
padding-bottom:40px!important;
}
.title_form_rw{
color:#007073;
font-size:24px;
text-align:center;
text-transform:uppercase;
color:#007073;
font-family: 'Roboto Condensed', sans-serif;
margin-bottom:20px;
}
.form_rewr_s{
height:25px;
width:173px;
line-height:25px;
border:none;
padding-left:5px;
color:#444444;
font-size:14px;
font-family: 'Roboto Condensed', sans-serif;
border:1px solid #d4d6d7;
margin-bottom:19px;
}
.list_form_rewr li{
float:left;
margin-right:20px;
}
.blist_rw{
display:block;
height:80px;
width:99%;
color:#444444;
padding-left:5px;
padding-top:5px;
font-size:14px;
font-family: 'Roboto Condensed', sans-serif;
border:1px solid #d4d6d7;
}
#about_rw{
margin-bottom:20px;
}
.button_send_rewr:hover{
text-decoration:underline !important;
}
.button_send_rewr{
background:url(../img/button_send_rewr.png) no-repeat;
display:block;
width:202px;
height:36px;
line-height:36px;
text-align:center;
margin:0px auto;
color:#fff !important;
text-align:center;
font-size:18px;
font-family: 'robotobold_condensed';
text-transform:uppercase;
text-decoration:none !important;
}




.simple_serv_rewr p{
color:#444444;
font-size:16px;
text-align:center;
font-family: 'Roboto Condensed', sans-serif;
}
.simple_serv_rewr{
margin-bottom:30px;
}


.top_title_mar p{
color:#000000;
font-size:22px;
text-align:center;
line-height:1.2;
margin-bottom:30px;
}
.list_mar_rewr{
display:block;
width:700px;
margin:0px auto;
}
.list_mar_rewr li{
float:left;
}
.list_mar_rewr a{
color:#007073;
font-size:17px;
font-family: 'robotobold_condensed';
text-transform:uppercase;
}
.list_mar_rewr a:hover p{
text-decoration:underline !important;
}
.list_mar_rewr li{
display:block;
width:350px;
margin-bottom:40px;
}
.special_img_mar_rewr{
display:block;
width:79px;
}
.list_mar_rewr p{
margin-left:14px;
margin-top:10px;
line-height:1.0;
}


.difficult_block_able{
display:block;
width:700px;
margin:0px auto;
}
.left_bwr_rewr{
display:block;
width:210px;
padding-top:35px;
}
.left_bwr_rewr p{
color:#000000;
font-size:22px;
font-family: 'robotobold_condensed';
}
.left_bwr_rewr span{
font-family: 'Roboto Condensed', sans-serif;
color:#444444;
font-size:16px;
}
.img_sc_bwr_rewr{
display:block;
width:245px;
margin-left:25px;
position:relative;
}
.sps_abs{
display:block;
width:20px;
height:100px;
background:#fff;
position:absolute;
bottom:-96px;
left:111px;
}
.right_bwr_rewr{
display:block;
width:212px;
padding-top:35px;
}

.in_list_php_bwr li{
float:left;
margin-right:10px;
margin-bottom:7px;
}
.right_bwr_rewr p{
color:#444444;
font-size:14px;
line-height:1.2;
margin-bottom:5px;
font-family: 'Roboto Condensed', sans-serif;
}

.block_weight_rewr{
margin-bottom:20px;
}
.difficult_block_able{
background:url(../img/ssda.png) repeat-y 51% 0;
margin-bottom:50px;
}
.white_sds{
display:block;
width:100%;
height:50px;
background:#fff;
}

.right_weight{
display:block;
width:700px;
margin:0px auto;
margin-bottom:45px;
}
.left_riw{
display:block;
width:369px;
}
.right_riw{
display:block;
width:245px;
}

.list_riw li{
padding:20px 0px;
border-bottom :1px solid #a6abae;
color:#444444;
font-size:16px;
}

/*---------------FONTS---------------*/
/*
@font-face {
    font-family: 'RobotoRegular';
    src: url('roboto-regular.eot');
    src: url('roboto-regular.eot') format('embedded-opentype'),
         url('roboto-regular.woff') format('woff'),
         url('roboto-regular.ttf') format('truetype'),
         url('roboto-regular.svg#RobotoRegular') format('svg');
}
*/
@font-face {
    font-family: 'robotobold_condensed';
    src: url('roboto-boldcondensed.eot');
    src: url('roboto-boldcondensed.eot?#iefix') format('embedded-opentype'),
         url('roboto-boldcondensed.woff2') format('woff2'),
         url('roboto-boldcondensed.woff') format('woff'),
         url('roboto-boldcondensed.ttf') format('truetype'),
         url('roboto-boldcondensed.svg#robotobold_condensed') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*---------------0---------------*/
/*---------------0---------------*/
/*---------------0---------------*/
/*---------------0---------------*/
/*---------------0---------------*/
/*---------------0---------------*/
/*---------------0---------------*/
/*---------------0---------------*/