.codes_top {font-size:10px; color:white; padding:7 7 7 7;}
.codes_top1 {font-size:10px; color:black; padding:7 7 7 7;}
.codes_mid {padding:7 7 7 7;}
BODY {
   margin-top:0px;
   margin-left:0px;
   margin-bottom : 0px;
   margin-right : 0px;
}
IMG {
   border:0px;
}
FORM {
   margin : 0px 0px 0px 0px;
}

UL {
	padding-top: 0;margin-top: 0;margin-bottom: 0; 
}

UL LI {
	padding-top: 0;margin-top: 0;margin-bottom: 0;

}

td {
   font-family : Arial, Sans-Serif;
   font-size : 12px;
  
}


.in{
   width: 110;
   height: 17px;
   border: 1px solid #cccccc;
   font: 10px;
}

.in_file{
   width: 210;
   height: 17px;
   border: 1px solid #cccccc;
   font: 10px;
}

.submenu{
   font: 10px Arial;
   color: black;
}


.Rubric h1 {
  font: bold 18 Tahoma;
   color: #000000;
}
.Rubric h2 {
  font: bold 16 Tahoma;
   color: #000000;
}
.Rubric h3 {
  font: bold 14 Tahoma;
   color: #000000;
}
.Rubric h2 {
  font: bold 18 Tahoma;
   color: #000000;
}

h1{
   font: bold 18 Tahoma;
   color: #666666;
}

h2{
   font: bold 15 Tahoma;
   color: #006666;
}

h3{
   font: bold 15 Tahoma;
   color: #000000;
}

h4{
   font: bold 15 Tahoma;
   color: #000000;
}

p{
   margin: 5 0 9 0;
}

.t_menu{
   margin: 8 13 10 7;
   font-family: Tahoma;
   font-size: 10px;
   font-weight: bold;
   color: white;
   text-align: center;
}

ul.cl1 {
   margin-top:2px;
   margin-left:9px;
   margin-bottom : 0px;
   margin-right : 0px;
}



.upmenu { font-family: Tahoma; font-size: 11px; color: dedede;}
.menu { font-family: Tahoma; font-size: 12px; color: #a59778; font-weight: bold;}
.search { font-family: Tahoma; font-size: 12px; color: #a59778; font-weight: bold;}
.downtext { font-family: Tahoma; font-size: 11px; color: 999999;}
.text_l { font-family: Tahoma; font-size: 12px; color: ffffff; font-weight: bold;}
.text_d { font-family: Tahoma; font-size: 12px; color: 000000;}
.text { font-family: Tahoma; font-size: 11px; color: 6f6251;}
.text2 { font-family: Tahoma; font-size: 18px; color: aaa48e; font-weight: bold;}
.newsd { font-family: Tahoma; font-size: 11px; color: #006666;}
.next { font-family: Tahoma; font-size: 11px; color: #006666;}
.n_text { font-family: Tahoma; font-size: 11px; color: #000000;}
.d_menu { font-family: Tahoma; font-size: 12px; color: #dedede;}
.d_menu2 { font-family: Tahoma; font-size: 12px; color: #ffffff;}
.d_menu3 { font-family: Tahoma; font-size: 12px; color: #006666;}

.text_left { font-family: Tahoma; font-size: 11px; color: c0c0c0;font-weight: bold;}
.text_left2 { font-family: Tahoma; font-size: 11px; color: ffffff;font-weight: bold;}
.text_left3 { font-family: Tahoma; font-size: 11px; color: c0c0c0;}

a.d_menu:link {COLOR: #dedede; TEXT-DECORATION: none;}
a.d_menu:active {TEXT-DECORATION: none; COLOR: #dedede;}
a.d_menu:visited {TEXT-DECORATION: none; COLOR: #dedede;}
a.d_menu:hover {COLOR: #ffffff; TEXT-DECORATION: none;}

a.d_menu3:link {COLOR: #006666; TEXT-DECORATION: none;}
a.d_menu3:active {TEXT-DECORATION: none; COLOR: #006666;}
a.d_menu3:visited {TEXT-DECORATION: none; COLOR: #006666;}
a.d_menu3:hover {COLOR: #006666; TEXT-DECORATION: none;}

a.d_menu2:link {COLOR: #ffffff; TEXT-DECORATION: none;}
a.d_menu2:active {TEXT-DECORATION: none; COLOR: #ffffff;}
a.d_menu2:visited {TEXT-DECORATION: none; COLOR: #ffffff;}
a.d_menu2:hover {COLOR: #ffffff; TEXT-DECORATION: none;}

a.next:link {COLOR: #006666; TEXT-DECORATION: none;}
a.next:active {TEXT-DECORATION: none; COLOR: #006666;}
a.next:visited {TEXT-DECORATION: none; COLOR: #006666;}
a.next:hover {COLOR: #cc0000; TEXT-DECORATION: none;}

a.text_left:link {COLOR: #c0c0c0; TEXT-DECORATION: none;}
a.text_left:active {TEXT-DECORATION: none; COLOR: #c0c0c0;}
a.text_left:visited {TEXT-DECORATION: none; COLOR: #c0c0c0;}
a.text_left:hover {COLOR: #ffffff; TEXT-DECORATION: none;}

a.text_left3:link {COLOR: #c0c0c0; TEXT-DECORATION: none;}
a.text_left3:active {TEXT-DECORATION: none; COLOR: #c0c0c0;}
a.text_left3:visited {TEXT-DECORATION: none; COLOR: #c0c0c0;}
a.text_left3:hover {COLOR: #ffffff; TEXT-DECORATION: none;}

a:link {COLOR: #3d362e; TEXT-DECORATION: none;}
a:active {TEXT-DECORATION: none; COLOR: #3d362e;}
a:visited {TEXT-DECORATION: none; COLOR: #3d362e;}
a:hover {COLOR: #3d362e; TEXT-DECORATION: underline;}

a.downtext:link {COLOR: #999999; TEXT-DECORATION: none;}
a.downtext:active {TEXT-DECORATION: none; COLOR: #999999;}
a.downtext:visited {TEXT-DECORATION: none; COLOR: #999999;}
a.downtext:hover {COLOR: #999999; TEXT-DECORATION: underline;}

a.menu:link {COLOR: #a59778; TEXT-DECORATION: none;}
a.menu:active {TEXT-DECORATION: none; COLOR: #a59778;}
a.menu:visited {TEXT-DECORATION: none; COLOR: #a59778;}
a.menu:hover {COLOR: #a59778; TEXT-DECORATION: none;}

a.upmenu:link {COLOR: #dedede; TEXT-DECORATION: none;}
a.upmenu:active {TEXT-DECORATION: none; COLOR: #ffffff;}
a.upmenu:visited {TEXT-DECORATION: none; COLOR: #dedede;}
a.upmenu:hover {COLOR: #ffffff; TEXT-DECORATION: none;}

.input {
	color : #101010;
	font-size : 11px;
	font-family : Arial;
	height : 21px;
        width : 137px;
	background-color : #FFFFFF;
	border : 1px solid #837F7F;
}

.input_s {
	color : #a59778;
	font-size : 11px;
	font-family : Tahoma;
	height : 17px;
        width : 140px;
	background-color : #FFFFFF;
	border : 1px solid #a59778;
}



a.text_m:link,a.text_m:hover,a.text_m:visited,a.text_m:active{
   text-decoration: none;
   color: #488FD5;
}


a.menu2a:link,a.menu2a:hover,a.menu2a:visited,a.menu2a:active{
   text-decoration: none;
   color: #488FD5;
}

a.text_m2,a.text_m2:visited,a.text_m2:active{
   text-decoration: none;
   color: #313644;
}


a.c,a.c:visited,a.c:active{
   text-decoration: none;
   color: #0666C6;
}


.menu2{
   margin: 0 0 0 15;
   font-size: 10px;
   color: #FF1111;
}

.menu3{
   margin: 0 0 0 25;
   font-size: 10px;
   color: #3C64B6;
}

.left_h{
   height: 18px;
   width: 162px;
   font-family: Tahoma;
   font-size: 10px;
   font-weight: bold;
   color: white;
}
.right_h{
   height: 18px;
   font-family: Tahoma;
   font-size: 10px;
   font-weight: bold;
   color: white;
   text-align: right;
}

.cal{
   width: 21px;
   height: 17px;
   background: #eeeeee;
   text-align: center;
   font-size: 10px;

}
.cal_title{
   border: 1px solid black;
   background: #89A5C3;
   color: white;
}

.news_date{
    font-size: 11px;
   color: black;
}
.news_c{
   margin: 0 5 4 20;
}
.news_chapter{
   margin: 0 5 10 0;
   text-align: right;
   font-weight: bold;
   color: #DA251C;
}


a.r,a.r:visited,a.r:active,a.r:hover{
   text-decoration: none;
   color: #DA251C;
}



a.b,a.b:visited,a.b:active{
   text-decoration: none;
   color: black;
}
a.b:hover{
   text-decoration: underline;
   color: black;
}


a.c,a.c:visited,a.c:active,a.c:hover{
   text-decoration: none;
   color: #488FD5;
}

/*
a,a:visited,a:active{
   text-decoration: underline;
   color: #7B828A;
}
a:hover{
   text-decoration: none;
   color: black;*/
a.b,a.b:visited,a.b:active,a.b:hover{
   text-decoration: none;
   color: black;
}
a.w,a.w:visited,a.w:active,a.w:hover{
   text-decoration: none;
   color: white;
}






#nav-content {
	position:relative;
	display:block;
	padding:0;
	margin:0;
	margin-top:5px;
	margin-left:5px;
	list-style-type:none;
}
html.* #nav-content {
	margin-top:28px;
}
#nav-content li {
	margin:0;
	padding:0;
}
#nav-content li a {
	margin:0;
	padding:0;
	padding-left:18px;
	background-image:url(/ima/arrow.gif);
	background-repeat:no-repeat;
	background-position:0 2px;
	font-size:11px;
	font-weight: bold;
	line-height:13px;
	text-decoration:none;
	color:#C0C0C0;
	width:120px;
}

#nav-content li a.l2 {
	margin:0;
	padding:0;
	padding-left:30px;
	background-image:url(/ima/none.gif);
	background-repeat:no-repeat;
	background-position:0 2px;
	font-size:11px;
	font-weight: bold;
	line-height:13px;
	text-decoration:none;
	color:#C0C0C0;
	width:140px;
	display:block;
}
#nav-content li a.l2:hover {
	background-image:url(/ima/none.gif);
}

#nav-content li a.clicked {
	color:#FFFFFF;
	background-image:url(/ima/arrow2.gif);
	background-position:0 2px;

}
#nav-content li a.clicked_lv2 {
	padding-left:30px;
	color:#FFFFFF;
	background-image:url(/ima/none.gif);
	background-position:0 2px;
    display:block;
    width:140px;
}
#nav-content li a.clicked_lv2:hover {
	background-image:url(/ima/none.gif);
}

#nav-content a.clicked_lv2 {
	color:#FFFFFF;
}

*html #nav-content li a {
	background-position:0 3px;
	/* no ie mac here \*/
	background-position:0 2px;
	/**/
}
*html #nav-content li a.clicked {
	background-position:0 3px;
	/* no ie mac here \*/
	background-position:0 2px;
	/**/
}
#nav-content li ul{
	position:relative;
	display:block;
	list-style-type:none;
}
#nav-content li a:hover{
	background-image:url(/ima/arrow2.gif);
	background-repeat:no-repeat;
	color:#FFFFFF;
}

#nav-content li li {
	margin-left:0px;
	/* no ie mac here \*/
	margin-left:-18px;
	/**/
}
#nav-content li li a{
	padding:0;
	margin:0;
	background-image:none;
	font-size:11px;
	line-height:13px;
	text-decoration:none;
	color:#C0C0C0;
	width:100px;
}
#nav-content li li a:hover{
	background-image:none;
	color:#FFFFFF;
}

.blaki{
   color:#000000;
}

.black-top{
   background: rgba(0,0,0,0.69);
   font-size: 63px;
   font-family: 'robotobold_condensed';/**/
   color: #007073;
   width: 290px;
   position: absolute;
   text-align: center;
   left: 50%;
   margin-left: -145px;
   line-height: 60px;
   padding: 30px 0 15px;
}

.black-top span{
   color: #fffffb;
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 37px;
   line-height: 30px;
}

.submenu{
   text-align: center;
   margin: 25px 0 20px;
}

.one-submenu{
   display: inline-block;
   height: 49px;
   position: relative;
   font-size: 24px;
   color: #000000;
   text-transform: uppercase;
   margin-right: 35px;
}

.one-submenu a{
   text-decoration: underline;
   height: 49px;
}

.one-submenu.active_menu_rewr, .one-submenu:hover{
   background: #007073;
   
}

.one-submenu.active_menu_rewr a, .one-submenu:hover a{
   color: #ffffff;
   text-decoration: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
body:first-of-type .one-submenu:hover{
      margin-left: -3px;
   }
}

.one-submenu:hover .abs_scos{
display:block;


}


@media screen and (-webkit-min-device-pixel-ratio:0) {
body:first-of-type .one-submenu:hover .abs_scos  {
      margin-top: -2px;
   }
}



.one-submenu.active_menu_rewr:hover .abs_scos{
display:block;
margin-top: 0px !important;
}

.one-submenu.active_menu_rewr:hover{
margin-left: 0px !important;
}

.one-submenu:hover .abs_scos_r{
display:block;
}

.green-title{
   text-align: center;
     color: #007073;
  font-size: 18px;
  font-family: 'robotobold_condensed';
  text-transform: uppercase;
  line-height: 1.0;
  margin-bottom: 10px;
}

.one_green{
   width: 99px;
   height: 101px;
   background: url('../img/one-bg.png') no-repeat;
   text-align: center;
   vertical-align: middle;
   line-height: 101px;
     display: table-cell;
}

.one_green img{
   vertical-align: middle;
}

.border-gray{
     border-top: 3px solid #818181; 
}

.black-title{
   font-size: 18px;
   text-transform: uppercase;
   color: #000000;
   padding: 10px 0 15px;
   display: block;
}

.black-new-title{
   font-size: 24px;
   
   color: #000000;
   font-family: 'Roboto Condensed', sans-serif;
   text-transform: uppercase;
   text-align: center;
   margin: 25px 0;
}

p.gray{
   color: #444444;
   font-size: 16px;
   line-height: 16px;
   font-family: 'Roboto Condensed', sans-serif;
   margin-bottom: 20px;
}

ul.in-content{
   color: #444444;
   font-size: 16px;
   line-height: 16px;
   font-family: 'Roboto Condensed', sans-serif;
   margin-bottom: 20px;
}

ul.in-content li{
   padding-left: 20px;
   position: relative;
   margin-bottom: 5px;
}

ul.in-content li a{
   color: #00696d;
   text-decoration: underline;
}

ul.in-content li a:hover{
   color: #003d46;
   text-decoration: none;
}

ul.in-content li:before{
   content: " ";
   position: absolute;
   width: 11px;
   height: 11px;
   border-radius: 6px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   background: #003d46;
   left: 0;
   top: 2px;
}

p.black-p{
   color: #000000;
   text-align: center;
   line-height: 16px;
}

.uppercase{
   text-transform: uppercase;
}

p.super-black{
   color: #000000;
   text-align: center;
   font-size: 36px;
}

.green-light-title{
   color: #007073;
   font-size: 22px;
   font-family: 'Roboto Condensed', sans-serif;
   text-transform: uppercase;
   text-align: center;
   margin: 25px 0;
   line-height: 24px;
}

.uls-block{
   text-align: left;
   padding-left: 43px;
}

.li-style{
   font-size: 16px;
   color: #000000;
   padding-left: 20px;
   position: relative;
   margin-bottom: 5px;
   display: inline-block;
   width: 174px;
   text-align: left;
}

.li-style:before{
   content: " ";
   position: absolute;
   width: 11px;
   height: 11px;
   border-radius: 6px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   background: #003d46;
   left: 0;
   top: 2px;
}
